.athletes-list {
  margin-bottom: 1rem;

  li {
    display: block;
  }

  li:first-child a {
    border-top: 1px solid var(--primary-variant);
  }

  a {
    font-family: $cursive;
    font-size: 0.875rem;
    display: block;
    padding: 0.5em;
    border-bottom: 1px solid var(--primary-variant);
  }

  a.active {
    background-color: var(--primary-variant);
    color: var(--on-primary);
    text-shadow: var(--on-primary-shadow);
  }
}

.athletes-sponsor {
  display: inline-block;
  margin: 0;

  img {
    width: auto;
    height: 80px;
  }
}

@media screen and (min-width: $laptop-breakpoint) {
  .athletes-index .aside,
  .athletes-show .aside {
    padding-right: 1rem;
    border-right: 1px solid var(--on-background);
  }

  .athletes-index .aside {
    grid-row: 1 / 3;
  }
}
