.authentication-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .svg-inline--fa {
    width: 80px;
    margin-bottom: 1em;
  }

  form {
    width: clamp(90%, 20rem, 100%);
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
