.calendar-nav {
  margin: 1.5rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;

  h2 {
    margin: 0;
  }

  a {
    font-family: $cursive;
    font-size: 0.875rem;
  }

  a:first-of-type {
    text-align: left;
  }

  a:last-of-type {
    text-align: right;
  }
}

.calendar {
  display: grid;
  overflow-x: auto;
  grid-template-columns: repeat(7, minmax(125px, 1fr));
  border-bottom: 1px solid var(--secondary-variant);
  font-size: 0.75rem;

  .dayname {
    text-transform: capitalize;
    text-align: center;
    padding: 0.2rem 0;
    border-top: 1px solid var(--secondary-variant);
    border-left: 1px solid var(--secondary-variant);
  }

  .dayname:nth-of-type(7),
  [class^='wday']:nth-of-type(7n) {
    border-right: 1px solid var(--secondary-variant);
  }

  [class^='wday'] {
    min-height: 125px;
    padding: 0.1rem;
    border-top: 1px solid var(--secondary-variant);
    border-left: 1px solid var(--secondary-variant);
  }

  .day {
    text-align: right;
    font-family: $cursive;
  }

  .cday {
    color: var(--primary-variant);
    font-size: 0.9rem;
    font-weight: bold;
  }

  .not-in-month {
    background-color: var(--secondary);
    color: var(--secondary-variant);
  }

  @for $i from 1 to 8 {
    .wday-#{$i} {
      grid-column: #{$i} / #{$i + 1};
    }
  }

  .calendar-event {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-variant);
    color: var(--on-primary);
    font-size: 0.8rem;
    padding: 0.5em 0.1em;
    margin: 0.5em 0.1em 0 0.1em;
    border-radius: 0.5em;
    text-shadow: var(--on-primary-shadow);
    cursor: pointer;
  }
}

.event-description {
  white-space: pre-wrap;
}
