// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
trix-toolbar {
  .trix-button--icon {
    width: 2.25em;
  }

  .trix-button--icon-float-left::before {
    background-image: image_url('./left-alignment.svg');
    top: 8%;
    bottom: 8%;
  }

  .trix-button--icon-float-right::before {
    background-image: image_url('./right-alignment.svg');
    top: 8%;
    bottom: 8%;
  }
}

.trix-content {
  padding-bottom: 1em;

  h1 {
    font-family: $cursive;
    font-size: 1.75em;
    margin: 1em 0 0.75em 0;
  }

  h1:first-child {
    margin-top: 0;
  }

  sub {
    all: unset;
    display: block;
  }

  sup {
    all: unset;
    display: block;
  }

  action-text-attachment,
  .attachment--preview {
    display: inline-block;
    flex: 1 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin-bottom: 1rem !important;

    .attachment__caption {
      margin-top: 0.5rem;
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      margin: 0 !important;
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .trix-content {
    sub {
      width: 50%;
      float: left;
      padding-right: 1.25rem;
    }

    sup {
      width: 50%;
      float: right;
      padding-left: 1.25rem;
    }

    sub::after,
    sup::after {
      display: block;
      content: '';
      height: 0px;
    }

    .attachment-gallery {
      align-items: center;

      > action-text-attachment,
      > .attachment {
        padding-right: 0.5em !important;
        flex: 1 0 50% !important;
        width: auto !important;
        max-width: 50% !important;
      }
    }
  }
}

@media screen and (min-width: $laptop-breakpoint) {
  .trix-content {
    .attachment-gallery {
      > action-text-attachment,
      > .attachment {
        flex: 1 0 33% !important;
        max-width: 33% !important;
      }

      > action-text-attachment {
        img {
          transition: 500ms;
          transform: scale(1);
          background-color: var(--background);
        }

        img:hover {
          position: relative;
          transform-origin: center bottom;
          transform: scale(1.5);
          box-shadow: var(--box-shadow);
          z-index: 99;
        }
      }
    }
  }
}
