.btn,
input[type='submit'].btn {
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--primary-variant);
  box-shadow: var(--box-shadow);
  color: var(--on-primary);
  font-weight: 700;
  font-size: 0.75rem;
  text-shadow: var(--on-primary-shadow);
  letter-spacing: 0.1em;
  text-align: center;
  border-radius: 0.25em;
  padding: 0.8em 3em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
  text-decoration: none !important;
}

.btn:hover,
.btn:focus,
input[type='submit'].btn:hover,
input[type='submit'].btn:focus {
  background-color: var(--primary);
}

.btn:active,
input[type='submit'].btn:active {
  background-color: var(--primary-variant);
}
