.dropdown-button::before {
  position: relative;
  content: '';
  display: inline-block;
  border: 10px solid transparent;
  border-left: 10px solid var(--on-background);
}

.dropdown-button.active::before {
  top: 5px;
  right: 5px;
  transform: rotate(90deg);
}

.dropdown {
  height: 0;
  overflow: hidden;
}

.dropdown.visible {
  height: initial;
  overflow: visible;
}

@media screen and (min-width: $laptop-breakpoint) {
  .dropdown-button::before {
    display: none;
  }

  .dropdown {
    height: initial;
    overflow: visible;
  }
}
