.jumbotron {
  position: relative;
  z-index: -1;
  margin-top: -40px;
  width: 100%;
  height: calc(50vh - 60px);
  background: var(--jumbotron-background);

  button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: $laptop-breakpoint) {
  .jumbotron {
    margin-top: -45px;
    height: calc(100vh - 130px);
  }

  .jumbotron-small {
    height: calc(50vh - 60px);
  }
}
