.jumbotron {
  position: relative;
  z-index: -1;
  margin-top: -40px;
  width: 100%;
  height: calc(50vh - 60px);
  background: var(--jumbotron-background);
}

@media screen and (max-height: $tablet-breakpoint) {
  .jumbotron {
    height: calc(80vh - 60px);
  }

  .jumbotron-small {
    height: calc(66.67vh - 60px);
  }
}

@media screen and (min-width: $laptop-breakpoint) {
  .jumbotron {
    margin-top: -45px;
    height: calc(80vh - 130px);
  }

  .jumbotron-small {
    height: calc(50vh - 60px);
  }
}
