.notice {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 1em;
  background-color: var(--secondary-variant);
  color: var(--on-secondary);
}

.alert {
  background-color: var(--error);
  color: var(--on-error);
}
