.table-wrapper {
  overflow-x: auto;
  clear: both;
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem 0.25rem 0 0;
}

.table {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem 0.25rem 0 0;

  caption {
    background-color: var(--primary-variant);
    color: var(--on-primary);
    text-shadow: var(--on-primary-shadow);
    font-family: $cursive;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.5em;

    & + thead {
      background-color: var(--secondary);
      color: var(--on-secondary);
      text-shadow: none;
    }
  }

  thead {
    background-color: var(--primary-variant);
    color: var(--on-primary);
    text-shadow: var(--on-primary-shadow);
    font-family: $cursive;
    font-weight: normal;
  }

  tbody {
    tr:hover {
      font-weight: 700;
    }

    tr.recent {
      font-weight: 700;
    }

    tr[onclick] {
      cursor: pointer;
    }
  }

  th,
  td {
    font-size: 0.8rem;
    padding: 0.75em 1.5em;
    border-bottom: 0.5px solid hsl(0, 0, 80%);
  }
}
