<% replace_history ||= false %>

<ul class='aside-list'>
  <% Athlete.all.each do |athlete| %>
    <li>
      <%= active_link_to athlete.fullname,
        athlete_path(athlete),
        onclick: "#{replace_history} && window.history.replaceState('', '', '#{athlete_path(athlete)}')"
      %>
    </li>
  <% end %>
</ul>
