<div class='grid'>
  <article class='athletes-info'>
    <h1>Edustusurheilijat</h1>
    <p>Laitilan Jyskettä edustaa joukko 14-vuotiaita ja vanhempia tavoitteellisesti urheilevia edustusurheilijoita. Osa heistä on Suomen kansallisen tason huippuja ja osa vasta urheilu-uraansa aloittavia nuoria. Voit tutustua Jyskeen edustusurheilijoihin heidän henkilökohtaisten sivujen kautta.</p>
    <h2>Edustusurheilijoita tukemassa</h2>
    <figure class='athletes-sponsor'>
      <a href="https://www.lahitapiola.fi/henkilo" target="_blank">
        <%= image_tag '/images/lahitapiola.png', alt: 'LähiTapiolan logo' %>
      </a>
    </figure>
  </article>

  <aside class='aside'>
    <%= render partial: 'athletes_list', locals: { athletes: @athletes } %>
  </aside>
</div>
