<% set_meta_tags title: 'Edustusurheilijat',
  description: 'Tutustu Laitilan Jyskeen edustusurheilijoihin heidän henkilökohtaisten sivujensa avulla.',
  keywords: %w(laitila jyske laitilan\ jyske yleisurheilu edustusurheilijat urheilija),
  index: true,
  follow: true,
  og: {
    type: 'website',
    title: :title,
    description: :description,
    image: image_url('/images/athletes.jpg'),
    url: athletes_url,
    site_name: :site
  }
%>

<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/athletes.jpg") center 25%/cover'>
  </div>
<% end %>

<div class='grid athletes'>
  <section class='col-1-13'>
    <h1 class='maintitle'>Edustusurheilijat</h1>
    <p class='subtitle'><%= link_to "Takaisin etusivulle", root_path, target: '_top' %></p>
  </section>

  <section class='col-4-13'>
    <p>Laitilan Jyskettä edustaa joukko 14-vuotiaita ja vanhempia tavoitteellisesti urheilevia edustusurheilijoita. Osa heistä on Suomen kansallisen tason huippuja ja osa vasta urheilu-uraansa aloittelevia nuoria. Voit tutustua Jyskeen edustusurheilijoihin heidän henkilökohtaisten sivujensa kautta.</p>
  </section>
  
  <aside class='col-1-4 row-2-5 aside aside-mobile'>
    <h3>Urheilijasivut</h3>
    <%= render partial: 'athletes_list' %>
  </aside>

  <section class='col-4-13 row-3-4'>
    <h2>Urheilijoiden matkassa mukana</h2>
    <figure class='athletes-sponsor'>
      <a href="https://www.lahitapiola.fi/henkilo" target="_blank">
        <%= image_tag '/images/lahitapiola.png', alt: 'LähiTapiolan logo' %>
      </a>
    </figure>
  </section>
</div>