<div class='grid athletes'>
  <section class='col-4-13'>
    <h1>Edustusurheilijat</h1>
    <p>Laitilan Jyskettä edustaa joukko 14-vuotiaita ja vanhempia tavoitteellisesti urheilevia edustusurheilijoita. Osa heistä on Suomen kansallisen tason huippuja ja osa vasta urheilu-uraansa aloittelevia nuoria. Voit tutustua Jyskeen edustusurheilijoihin heidän henkilökohtaisten sivujensa kautta.</p>
  </section>
  
  <aside class='col-1-4 row-1-4 aside'>
    <h3>Urheilijasivut</h3>
    <%= render partial: 'athletes_list', locals: { athletes: Athlete.all } %>
  </aside>

  <section class='col-4-13 row-2-3'>
    <h2>Urheilijoiden matkassa mukana</h2>
    <figure class='athletes-sponsor'>
      <a href="https://www.lahitapiola.fi/henkilo" target="_blank">
        <%= image_tag '/images/lahitapiola.png', alt: 'LähiTapiolan logo' %>
      </a>
    </figure>
  </section>
</div>