<div class='grid'>
  <aside class='aside'>
    <%= render partial: 'athletes_list', locals: { athletes: Athlete.all } %>
  </aside>

  <article class='athlete-info'>
    <h1 class='maintitle'><%= @athlete.fullname %></h1>
    <span class='subtitle'><%= @athlete.event %></span>
    <div><%= @athlete.content %></div>
  </article>
</div>
