$tablet-breakpoint: 540px;
$laptop-breakpoint: 1024px;

body {
  position: relative;
}

.container {
  width: clamp(0px, 90%, 1024px);
  margin: 0 auto;
}

main.container {
  margin: 2rem auto;
}

@media screen and (min-width: $laptop-breakpoint) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  @for $i from 1 to 13 {
    @for $j from $i + 1 to 14 {
      .col-#{$i}-#{$j} {
        grid-column: #{$i} / #{$j};
      }
    }
  }

  @for $i from 1 to 4 {
    @for $j from $i + 1 to 5 {
      .row-#{$i}-#{$j} {
        grid-row: #{$i} / #{$j};
      }
    }
  }
}
