$tablet-breakpoint: 540px;
$laptop-breakpoint: 1024px;

body {
  position: relative;
}

.container {
  width: clamp(0px, 90%, 1024px);
  margin: 0 auto;
}

main.container {
  margin: 2rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 1rem;
}
