body,
header,
div,
h1,
h2,
h3,
p,
button,
ul,
li,
table,
thead,
tbody,
tr,
td,
th,
main,
figure,
img,
input[type='submit'] {
  all: unset;
  box-sizing: border-box;
  display: block;
}

span,
a {
  all: unset;
  display: inline-block;
}

li {
  display: list-item;
}

table {
  display: table;
}

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tr {
  display: table-row;
}

td,
th {
  display: table-cell;
}

img {
  display: block;
  width: 100%;
}
