@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$cursive: 'Graduate', cursive;
$sans-serif: 'Lato', sans-serif;

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  font-family: $sans-serif;
}

h1,
h2,
h3 {
  font-family: $cursive;
  margin: 1em 0 0.75em 0;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 0.75em;
  line-height: 1.5;
}

.maintitle {
  margin-bottom: 0.25em;
}

.subtitle {
  display: block;
  font-family: $cursive;
  font-size: 0.875rem;
  margin-bottom: 1.25em;
}

.small {
  font-size: 0.875rem;
}

.extra-small {
  font-size: 0.75rem;
}

.overline {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: $tablet-breakpoint) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: $laptop-breakpoint) {
  html {
    font-size: 18px;
  }
}
