<ul class='aside-list'>
  <% Record::DISCIPLINES_BY_LEAGUE[league].each do |discipline| %>
    <li>
      <%= active_link_to discipline,
        top_ten_records_path(league.parameterize, discipline: discipline.parameterize),
        active: :exact,
        onclick: "window.history.replaceState('', '', '#{top_ten_records_path(league.parameterize, discipline: discipline.parameterize)}')"
      %>
    </li>
  <% end %>
</ul>
