<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/records.jpg") center center/cover'>
  </div>
<% end %>

<div class='grid'>
  <section class='col-1-13'>
    <h1 class='maintitle'>Seuraennätykset</h1>
    <p class='subtitle'><%= link_to "Takaisin etusivulle", root_path, target: '_top' %></p>
  </section>

  <section class='col-4-13'>
    <p>
      Laitilan Jyskeen yleisurheilujaosto ylläpitää luetteloa miesten ja naisten sekä 9—15-vuotiaiden poikien ja tyttöjen seuraennätyksistä.
      Aikuisten sarjoissa seuraennätykset huomioidaan pääasiassa arvokisojen ohjelmassa olevista henkilökohtaisista lajeista.
      Lasten sarjoissa seuraennätyskelpoisia lajeja ovat
      <a target='_top' href="https://www.yleisurheilu.fi/sites/default/files/atoms/files/lasten_lajit_2014_-.xls">P/T15—9 -sarjojen viralliset lajit</a>.
    </p>
  </section>
  
  <section class='col-1-4 row-2-5 aside aside-mobile'>
    <% Record::LEAGUES_BY_GENDER.each do |gender, leagues| %>
      <h3><%= gender %></h3>
      <%= render partial: 'leagues_list', locals: { leagues: leagues }  %>
    <% end %>
  </section>

  <section class='col-4-13 row-3-4'>
    <h2>TOP 10 listat</h2>
    <p>
      Aikuisten sarjoissa seuraennätysten lisäksi jokaisessa lajissa ylläpidetään luetteloa kymmenestä kaikkien aikojen parhaasta tuloksesta.
    </p>
  </section>

  <section class='col-4-13 row-4-5'>
    <h2>Uusi ennätys</h2>
    <p>
      Voit ilmoittaa uuden seuraennätyksen tai TOP 10 -tuloksen täyttämällä ja lähettämällä alla olevan lomakkeen. Kun ennätyksen tiedot on
      tarkistettu, lisätään se seuraennätysten tai TOP 10 tulosten luetteloon.
    </p>
    <%= render partial: 'form', locals: { record: @record } %>
  </section>
</div>
