<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/records.jpg") center center/cover'>
  </div>
<% end %>

<h1>Seuraennätykset</h1>

<div class='grid athletes'>
  <section class='col-4-13'>
    <p>
      Laitilan Jyskeen yleisurheilujaosto ylläpitää luetteloa miesten ja naisten sekä 9—15-vuotiaiden poikien ja tyttöjen seuraennätyksistä.
      Aikuisten sarjoissa seuraennätykset huomioidaan pääasiassa arvokisojen ohjelmassa olevista henkilökohtaisista lajeista.
      Lasten sarjoissa seuraennätyskelpoisia lajeja ovat
      <a href="https://www.yleisurheilu.fi/sites/default/files/atoms/files/lasten_lajit_2014_-.xls">P/T15—9 -sarjojen viralliset lajit</a>.
    </p>
    <h2>TOP 10 listat</h2>
    <p>
      Aikuisten sarjoissa seuraennätysten lisäksi jokaisessa lajissa ylläpidetään luetteloa myös 10 kaikkien aikojen parhaasta tuloksesta.
    </p>
  </section>
  
  <aside class='col-1-4 row-1-4 aside'>
    <h3>Aikuiset</h3>
    <%= render partial: 'leagues_list', locals: { leagues: Record::ADULT_LEAGUES }  %>
    <h3>Pojat</h3>
    <%= render partial: 'leagues_list', locals: { leagues: Record::BOY_LEAGUES }  %>
    <h3>Tytöt</h3>
    <%= render partial: 'leagues_list', locals: { leagues: Record::GIRL_LEAGUES }  %>
  </aside>

  <section class='col-4-13 row-2-3'>
    <h2>Uusi ennätys</h2>
    <p>
      Voit ilmoittaa uuden seuraennätyksen tai TOP 10 -tuloksen täyttämällä ja lähettämällä alla olevan lomakkeen. Kun ennätyksen tiedot on
      tarkistettu ja hyväksytty, se lisätään seuraennätysten tai TOP 10 tulosten luetteloon.
    </p>
    <h3>Lomake toteutetaan myöhemmin!</h3>
  </section>
</div>
