<div class='calendar-nav'>
  <a class='navtitle' href="<%= events_url(year: (month == 1 ? year - 1 : year), month: (month == 1 ? 12 : month - 1)) %>">Edellinen kuukausi</a>
  <h2><%= t('date.month_names')[month] %> <%= year %></h2>
  <a class='navtitle' href="<%= events_url(year: (month == 12 ? year + 1 : year), month: (month == 12 ? 1 : month + 1)) %>">Seuraava kuukausi</a>
</div>