<a class='calendar-event<%= ' calendar-event-alt' if event.registration_url.start_with?('https://www.suomisport.fi/') %>' href='<%= event_path(event) %>' data-turbo-frame='modal-frame'><%= event.title %></a>
