<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/news.jpg") center 75%/cover'>
  </div>
<% end %>

<h1 class='maintitle'>Uutiset</h1>
<p class='subtitle'><%= link_to "Takaisin etusivulle", root_path, target: '_top' %></p>

<div class='grid-m grid'>
  <%= render @news %>
</div>
