<div class='news-article'>
  <a class='subtitle' onclick="history.back()">Takaisin</a>
</div>

<article class='news-article'>
  <h1 class='maintitle'><%= @news.title %></h1>
  <p class='overline'><%= @news.user.fullname %> - <%= l(@news.published_at, format: :long) %></p>
  <div class='news-content'>
    <%= @news.content %>
  </div>
</section>