<h1>Hei <%= @name %>!</h1>

<p>Lähetit meille seuraavan viestin:</p>

<h2><%= @subject %></h2>
<pre><%= @message %></pre>

<p>Viestisi on vastaanotettu ja vastaamme viestiisi sähköpostitse mahdollisimman pian!</p>

<p>
  Kiireellisissä asioissa voit myös soittaa suoraan jollekin yleisurheilujaoston jäsenelle.
  Jaoston jäsenten yhteystiedot löydät <a href="<%= contact_url %>">täältä</a>.
</p>
