<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/records.jpg") center center/cover'>
  </div>
<% end %>

<h1>Palkitseminen</h1>

<p>Toteutetaan piakkoin!</p>
