<% set_meta_tags title: 'Etusivu',
  description: 'Tutustu Laitilan Jyskeen yleisurheilujaoston kotisivuihin.',
  keywords: %w(laitila jyske laitilan\ jyske yleisurheilu),
  index: true,
  follow: true,
  og: {
    type: 'website',
    title: :title,
    description: :description,
    image: image_url('/images/frontpage.jpg'),
    url: root_url,
    site_name: :site
  }
%>

<% content_for :jumbotron do %>
  <div class='jumbotron' style='--jumbotron-background: url("/images/frontpage.jpg") center 25%/cover'></div>
  <section class='marketing-section'>
    <div class='container'>
      <p>Etsitkö monipuolista, innostavaa ja liikunnallista harrastusta lapselle?</p>
      <a class='btn' href="<%= events_path %>">Osallistu harjoituksiin</a>
    </div>
  </section>
<% end %>

<section class='section center'>
  <h2 class='center'>Sosiaalinen media</h2>
  <a class="some-link" href="https://chat.whatsapp.com/C4T97CG5hZd69TG1b6gNt6" target="_blank">
    <img alt="WhatsApp tiedotusryhmä" src="/images/WhatsApp.svg" title="WhatsApp tiedotusryhmä" />
  </a>
  <a class="some-link" href="https://www.instagram.com/laitilanjyskeyleisurheilu/" target="_blank">
    <img alt="Instagram - Laitilan Jyske Yleisurheilu" src="/images/Instagram.svg" title="Instagram - Laitilan Jyske Yleisurheilu" />
  </a>
  <a class="some-link" href="https://www.facebook.com/laitilanjyskeyu/" target="_blank">
    <img alt="Facebook - Laitilan Jyske Yleisurheilu" src="/images/Facebook.svg" title="Facebook - Laitilan Jyske Yleisurheilu" />
  </a>
</section>

<section class='section'>
  <h2 class='center'>Uusimmat uutiset</h2>
  <div class='grid grid-m'>
    <%= render @news %>
  </div>
</section>

<section class='section'>
  <h2 class='center'>Tulevat tapahtumat</h2>
  <div data-controller='event'>
    <%= render @events %>
  </div>
</section>
