<% content_for :jumbotron do %>
  <div class='jumbotron jumbotron-small' style='--jumbotron-background: url("/images/frontpage.jpg") center 25%/cover'>
  </div>
<% end %>

<h1>Uutiset</h1>

<p>Toteutetaan piakkoin!</p>
